<% unless notice.nil? %>
  <div id="notice"><%= notice %></div>
<% end %>

<%= form_for(@object, :url => update_password_path, :method => :post ) do |f| %>
  <% if @object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@object.errors.count, "error") %> occured while saving password</h2>
    </div>
  <% end %>
  <fieldset>
    <legend> Change Password here </legend>
    <table>
      <%= hidden_field_tag :user_type, @object.class %>
      <tr>
        <td><%= label_tag "Original Password" %></td>
        <td><%= password_field_tag :old_password  %></td>
        <% unless error_present?(:old_password, @object) %>
          <td class="error-notice"><%= get_errors(:old_password, @object) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :password %></td>
        <td><%= f.password_field :password %></td>
        <% unless error_present?(:password, @object) %>
          <td class="error-notice"><%= get_errors(:password, @object) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :password_confirmation %></td>
        <td><%= f.password_field :password_confirmation %></td>
        <% unless error_present?(:password_confirmation, @object) %>
          <td class="error-notice"><%= get_errors(:password_confirmation, @object) %></td>
        <% end %>
      </tr>
      <tr><td><%= submit_tag "Save New Password" %></td></tr>
    </table>
    <%= link_to 'Back to Profile', get_path %>
  </fieldset>
<% end %>