<%= form_for(@job_seeker) do |post_form| %>
  <% if @job_seeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_seeker.errors.count, "error") %> prohibited the details from being saved:</h2>
    </div>
  <% end %>
  
  <fieldset><legend>Editing Profile</legend>
  <div id="form">
      <table id="edit_table" border="2">
        <tr>
          <td><%= post_form.label :name %></td>
          <td><%= post_form.text_field :name %></td>
            <% str = "" %>
            <% unless @job_seeker.errors[:name].empty? %>
              <% @job_seeker.errors[:name].each { |msg| str+=msg+", " }%>
              <td class="error_notice"><%= str %></td>
            <% end %>
        </tr>
        <tr>
          <td><%= post_form.label :email %></td>
          <td><%= post_form.text_field :email %></td>
          <% str = "" %>
            <% unless @job_seeker.errors[:email].empty? %>
              <% @job_seeker.errors[:email].each { |msg| str+=msg+", " } %>
                <td class="error_notice"><%= str %></td>
            <% end %>
          </tr>
        <tr>
          <td><%= post_form.label :location %></td>
          <td><%= post_form.text_field :location %></td>
        </tr>
        <tr>
          <td><%= post_form.label :mobile_number %></td>
          <td><%= post_form.text_field :mobile_number %></td>
          <% unless error_present?(:mobile_number, @job_seeker) %>
            <td class="error-notice"><%= get_errors(:mobile_number, @job_seeker) %></td>
          <% end %>
        </tr>
        <tr>
          <td><%= post_form.label :experience %> (in years):</td>
          <td><%= post_form.text_field :experience %></td>
        </tr>
        <tr>
          <td><%= post_form.label :industry %></td>
          <td><%= post_form.text_field :industry %></td>
        </tr>
        <tr>
          <td><%= post_form.label :key_skills %></td>
          <td><%= post_form.text_field :key_skills %></td>
        </tr>
        <tr>
          <td><%= post_form.submit "Update Profile" %></td>
        </tr>
      </table>
    <%= link_to 'Back to Profile', profile_path %>
  </div>
  </fieldset>
<% end %>