<div id="login">
  <% if notice %>
    <div id="notice"><p><%= notice %></p></div>
  <% end %>
  <h2>Login to get started....</h2>
    <%= form_tag(:controller => "sessions", :action => "login") do %>
      <table>
        <tr>
          <td><%= label_tag :email, "Enter Email" %></td>
          <td><%= email_field_tag :email, nil, :placeholder => "Enter Email" %></td>
        </tr>
        <tr>
          <td><%= label_tag :password, "Enter Password" %></td>
          <td><%= password_field_tag :password, nil, :placeholder => "Enter Password" %></td>
        </tr>
        <tr>
          <td><%= hidden_field_tag :user_type, "job_seeker" %></td>
        </tr>
        <tr>
          <td></td><td><%= submit_tag "Login" %></td>
        </tr>
      </table>
    <% end %>
<%= link_to "Forgot Password?", forgot_password_path(:user => "JobSeeker") %> <br />
<%= link_to 'Login As Employer', elogin_path %><br />
<%= link_to 'New Job Seeker', register_path %>
</div>
