<%= form_for(@job_seeker, :url => '/register' ) do |f| %>
  <% if @job_seeker.errors.any? %>
    <div class="error_messages">
     <h2><%= pluralize(@job_seeker.errors.count, "error") %> prohibited the details from being saved:</h2>
    </div>
  <% end %>
  <fieldset>
    <legend>Registration</legend>
    <table>
      <%= hidden_field_tag :user_type, "job_seeker" %>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
      <% unless error_present?(:name, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:name, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email %></td>
      <% unless error_present?(:email, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:email, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
      <% unless error_present?(:password, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:password, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :password_confirmation %></td>
      <td><%= f.password_field :password_confirmation %></td>
      <% unless error_present?(:password_confirmation, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:password_confirmation, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :gender %></td>
      <td><%= f.select :gender, [["Male","Male"], ["Female", "Female"], ["Others", "Others"]], :prompt => "Select Gender" %></td>
      <% unless error_present?(:gender, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:gender, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :date_of_birth %></td>
      <td><%= f.date_select :date_of_birth, :start_year => 1962, :end_year => Time.now.year - 16, :order => [:day, :month, :year] %></td>
    </tr>
    <tr>
      <td><%= f.label :location %> (City in India)</td>
      <td><%= f.text_field :location %></td>
      <% unless error_present?(:location, @job_seeker) %>
        <td><%= get_errors(:location, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= f.label :mobile_number %></td>
      <td><%= f.telephone_field :mobile_number %></td>
      <% unless error_present?(:mobile_number, @job_seeker) %>
        <td class="error-notice"><%= get_errors(:mobile_number, @job_seeker) %></td>
      <% end %>
    </tr>
    <tr>
      <td>Profile Details</td>
    </tr>
    <tr>
      <td><%= f.label :experience %></td>
      <td><%= f.select "experience", JobSeeker::EXPERIENCE %> years</td>
    </tr>
    <tr>
      <td><%= f.label :key_skills %></td>
      <td><%= f.text_field :key_skills %></td>
    </tr>
    <tr>
      <td><%= f.label :industry %></td>
      <td><%= f.select :industry, JobSeeker::INDUSTRY %></td>
    </tr>
    <tr>
      <td></td>
      <td><p class="button"><%= f.submit %></p></td>
    </tr>
  </fieldset>
<% end %>