<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter Job Details</legend>
    <table>
      <tr>
        <td><%= f.label :title %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_area :description %></td>
        <% unless error_present?(:description, @job) %>
          <td class="error_notice"><%= get_errors(:description, @job) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :location %></td>
        <td><%= f.text_field :location %></td>
        <% unless error_present?(:location, @job) %>
        <td class="error_notice"><%= get_errors(:location, @job) %></td>
        <% end %>
      </tr>

      <tr>
        <td><%= f.label "Salary Offered" %></td>
        <td>
          <%= f.text_field :salary_min, :class => "salary-fields", :placeholder => "Minimum Salary" %> to 
          <%= f.text_field :salary_max, :class => "salary-fields", :placeholder => "Maximum Salary" %>
        </td>
      </tr>
      <tr>
        <td><%= f.label :salary_type %></td>
        <td><%= f.select :salary_type, [["LPA", "LPA"], ["pm", "pm"]] %></td>
      </tr>
      <tr>
        <td><%= f.label :key_skills %></td>
        <td><%= f.text_field :key_skills %></td>
      <tr>
        <td><%= f.submit %></td>
      </tr>
    </table>
    <%= link_to 'Back to profile', eprofile_path %>
  </fieldset>

<% end %>