<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited the details from being saved:</h2>
    </div>
  <% end %>    
  <fieldset>
    <% unless notice.nil? %>
      <div id = "notice"> <%= notice %> </div>
    <% end %>
    <legend>Adding New Job</legend>
    <table>
      <tr>
        <td><%= f.label "Job Title" %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label "Job Description" %></td>
        <td><%= f.text_area :description %></td>
        <% unless error_present?(:description, @job) %>
          <td class="error-notice"><%= get_errors(:description, @job) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :location %></td>
        <td><%= f.text_field :location %></td>
        <% unless error_present?(:location, @job) %>
          <td class="error-notice"><%= get_errors(:location, @job) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.label :key_skills %></td>
        <td><%= f.text_field :key_skills %></td>
      </tr>
      <tr>
        <td><%= f.label "Salary" %></td>
        <td>
          <%= f.text_field :salary_min, :class => "salary-fields", :placeholder => "Minimum Salary" %> to 
          <%= f.text_field :salary_max, :class => "salary-fields", :placeholder => "Maximum Salary" %>
        </td>
        <% unless error_present?(:salary_min, @job) && error_present?(:salary_max, @job) %>
          <td class="error-notice">
            <%= get_errors(:salary_min, @job)%> <br /> 
            <%= (get_errors(:salary_max, @job)) %>
          </td>
        <% end %>
      </tr>
      <tr>
        <td></td><td>
          <%= f.select :salary_type, [["LPA", "LPA"], ["pm", "pm"]], :prompt => "Salary Type" %>
        </td>
        <% unless error_present?(:salary_type, @job) %>
          <td class="error-notice"><%= get_errors(:salary_type, @job) %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= f.submit %></td>
      </tr>
    </table>
    <%= link_to 'Back to Profile', eprofile_path %>
  </fieldset>
<% end %>